{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  <div class="col">
    <a href="{% url 'usuarios:list' %}" class="card h-100 text-decoration-none text-dark">
      <div class="card-body text-center d-flex flex-column justify-content-center">
        <h5 class="card-title">Usuários</h5>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="{% url 'vendas:list' %}" class="card h-100 text-decoration-none text-dark">
      <div class="card-body text-center d-flex flex-column justify-content-center">
        <h5 class="card-title">Vendas</h5>
      </div>
    </a>
  </div>
  <div class="col">
    <a href="{% url 'comissoes:report' %}" class="card h-100 text-decoration-none text-dark">
      <div class="card-body text-center d-flex flex-column justify-content-center">
        <h5 class="card-title">Comissões</h5>
      </div>
    </a>
  </div>
</div>
{% endblock %}
